li {
  /* display: block; -리스트 앞 점 없어짐 */
  list-style: none; /* 리스트 앞 점 없어짐*/
  margin-bottom: 10px;
  background-color: #77abff;
  color: white;
  padding: 10px 20px;
}

ul {
  padding-left: 0; /* 왼쪽으로 붙이기*/
  width: 200px;
}